* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Ricty Diminished, Ubuntu Mono, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    color: #ffffff;
    background-color: transparent;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    transition-property: background-color;
    transition-duration: .5s;
    margin-bottom: 4px;
}

window#waybar.hidden {
    opacity: 0;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 10px;
    background-color: #2f4f4f;
    color: #ffffff;
    border: 1px solid;
    border-radius: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces button#sway-workspace-1 {
    border-radius: 50px 0 0 50px;
}

#workspaces button#sway-workspace-5 {
    border-radius: 0 50px 50px 0;
}

#window {
    font-family: Ubuntu Mono;
    font-size: 16px;
    padding: 0 30px;
    border: 1px solid;
    border-radius: 50px;
    background-color: #4b0082;
}

#clock,
#cpu {
    border: 1px solid;
    padding: 0 10px;
    background-color: #730C02;
}

#memory,
#network {
    border: 1px solid;
    padding: 0 10px;
    background-color: #010B40;
}

#clock {
    padding-right: 20px;
    border-radius: 0 50px 50px 0;
}

#network {
    padding-left: 20px;
    border-radius: 50px 0 0 50px;
}

#network.disconnected {
    color: #F22233;
}
